@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar{
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  max-width: 800px;
  align-items: center;
  border-bottom: 5px solid #f2f2f2;
  margin: 0 auto;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  color: black;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar h2:hover {
  background-color: black;
  color: white;
  border-radius: 8px;
}
.navbar a:hover{
  background-color: black;
  color: white;
  border-radius: 4px;

}

.signup, .login {

  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;


  border: dashed;
  padding: 20px;
  text-align: center;

}

.signup label, .login label, .proposalpage input {

  text-align: left;

  display: block;

}

.signup h2, .login h2, .postjob h2{

  font-size: 20px;

  color: black;

  margin-bottom: 30px;

}

.signup input, .login input, .postjob input, .proposalpage input{

  width: 100%;

  padding: 6px 10px;

  margin: 10px 0;

  border: 1px solid #ddd;

  box-sizing: border-box;

  display: block;

}

.signup button, .login button, .postjob button, .proposalpage button{
  margin-top: 10px;
  border-radius: 4px;
  color: white;
  background-color: black;
}

.jobcard{
  display: flex;
  border-radius: 7px;
  border-color: gray;
  max-width: 600px;
  border-width: 5px;
  border: solid;
  color: black;
  padding: 20px;
  align-self: center;
  align-items: center;
}

.jobcardmain {
  min-width:500px;
  border-right: 5px solid #f2f2f2;
}

.jobcard button{
  color: white;
  background-color: black;
  border-radius: 4px;
}

.name_part {
  color: gray;
  text-align: center;
  align-content: center;
  max-height: fit-content;
  display: flex;
  align-items: center;
}


.postjob, .proposalpage{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  align-items: center;
  border: dashed gray;
}

.postjob label{
  padding-right: 20px;
}


.proposalpage input {
  text-align: center;
  align-content: center;
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px dashed rgb(0, 0, 0);
  border-radius: 50px;
  padding: 20px 30px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

hr {
  opacity: 0;
}